In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']
adult_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/adult.data.txt', names=cols)

In [2]:
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Handling missing values

In [3]:
for i in adult_data:
    if adult_data[i].dtype == "object":
        print("------------", i, "------------")
        print(adult_data[i].value_counts())

------------ workclass ------------
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
------------ education ------------
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
------------ marital-status ------------
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64
------------ occupation ------------
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
------------ relationship ------------
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
------------ race ------------
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
------------ sex ------------
 Male      21790
 Female    10771
Name: sex, dtype: int64
------------ native-country ------------
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64
------------ Salary ------------
 <=50K    24720
 >50K      7841
Name: Salary, dtype: int64

Features(workclass, occupation and native-country) have missing values indicated with "?"

Replacing these missing values with mode of those features as these variables are categorical

In [4]:
for i in ("workclass", "occupation", "native-country"):
    mode = adult_data[i].mode()[0]
    adult_data[i] = adult_data[i].replace(" ?", mode)

## Scaling
all the numerical variables (except "education-num") are scaled using min max scaler

In [5]:
def MinMaxScaler(series):
    series = (series - series.min()) / (series.max() - series.min())
    return series
for i in ("age", "fnlwgt", "hours-per-week", "capital-gain", "capital-loss"):
    adult_data[i] = MinMaxScaler(adult_data[i])
adult_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,0.301370,State-gov,0.044302,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0.000000,0.0,0.377551,United-States,<=50K
32557,0.315068,Private,0.096500,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.000000,0.0,0.397959,United-States,>50K
32558,0.561644,Private,0.094827,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0.000000,0.0,0.397959,United-States,<=50K
32559,0.068493,Private,0.128499,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0.000000,0.0,0.193878,United-States,<=50K
32560,0.479452,Self-emp-inc,0.187203,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.150242,0.0,0.397959,United-States,>50K

In [6]:
pd.crosstab(adult_data["education"], adult_data["education-num"])

education-num,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
education,,,,,,,,,,,,,,,,
10th,0,0,0,0,0,933,0,0,0,0,0,0,0,0,0,0
11th,0,0,0,0,0,0,1175,0,0,0,0,0,0,0,0,0
12th,0,0,0,0,0,0,0,433,0,0,0,0,0,0,0,0
1st-4th,0,168,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5th-6th,0,0,333,0,0,0,0,0,0,0,0,0,0,0,0,0
7th-8th,0,0,0,646,0,0,0,0,0,0,0,0,0,0,0,0
9th,0,0,0,0,514,0,0,0,0,0,0,0,0,0,0,0
Assoc-acdm,0,0,0,0,0,0,0,0,0,0,0,1067,0,0,0,0
Assoc-voc,0,0,0,0,0,0,0,0,0,0,1382,0,0,0,0,0
Bachelors,0,0,0,0,0,0,0,0,0,0,0,0,5355,0,0,0
Doctorate,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,413
HS-grad,0,0,0,0,0,0,0,0,10501,0,0,0,0,0,0,0
Masters,0,0,0,0,0,0,0,0,0,0,0,0,0,1723,0,0
Preschool,51,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Prof-school,0,0,0,0,0,0,0,0,0,0,0,0,0,0,576,0
Some-college,0,0,0,0,0,0,0,0,0,7291,0,0,0,0,0,0

Above table shows that "education-num" is just enocoded column of ordinal categorical column "education"
hence dropping column "education" to avoid redundant information

In [7]:
del adult_data["education"]

### encoding categorical variables

In [8]:
print("Categorical variables are:")
list_of_categorical = []
for i in adult_data:
    if adult_data[i].dtype == "object":
        print(i)
        list_of_categorical.append(i)

Categorical variables are:
workclass
marital-status
occupation
relationship
race
sex
native-country
Salary

All categorical features are nominal. Using onehotencoder for nominal features

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
ohe = OneHotEncoder()
ohe.fit(adult_data[list_of_categorical])
ohe.categories_

[array([' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
        ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
       dtype=object),
 array([' Divorced', ' Married-AF-spouse', ' Married-civ-spouse',
        ' Married-spouse-absent', ' Never-married', ' Separated',
        ' Widowed'], dtype=object),
 array([' Adm-clerical', ' Armed-Forces', ' Craft-repair',
        ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners',
        ' Machine-op-inspct', ' Other-service', ' Priv-house-serv',
        ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support',
        ' Transport-moving'], dtype=object),
 array([' Husband', ' Not-in-family', ' Other-relative', ' Own-child',
        ' Unmarried', ' Wife'], dtype=object),
 array([' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other',
        ' White'], dtype=object),
 array([' Female', ' Male'], dtype=object),
 array([' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba',
        ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England',
        ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti',
        ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' India',
        ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos',
        ' Mexico', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru',
        ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico',
        ' Scotland', ' South', ' Taiwan', ' Thailand', ' Trinadad&Tobago',
        ' United-States', ' Vietnam', ' Yugoslavia'], dtype=object),
 array([' <=50K', ' >50K'], dtype=object)]

In [11]:
array = ohe.transform(adult_data[list_of_categorical]).toarray()
one_hot_encoded_array = np.array(array, dtype = "int")

In [12]:
one_hot_encoded_array.shape

(32561, 85)

In [13]:
count = 0
for i in ohe.categories_:
    for j in i:
        adult_data[j] = one_hot_encoded_array[:, count]
        count += 1
adult_data.head(30)

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,<=50K,>50K
0,0.301370,State-gov,0.044302,13,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,...,0,0,0,0,0,1,0,0,1,0
1,0.452055,Self-emp-not-inc,0.048238,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
2,0.287671,Private,0.138113,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
3,0.493151,Private,0.151068,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
4,0.150685,Private,0.221488,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,...,0,0,0,0,0,0,0,0,1,0
5,0.273973,Private,0.184932,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.000000,...,0,0,0,0,0,1,0,0,1,0
6,0.438356,Private,0.100448,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.000000,...,0,0,0,0,0,0,0,0,1,0
7,0.479452,Self-emp-not-inc,0.134036,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,0,1
8,0.191781,Private,0.022749,14,Never-married,Prof-specialty,Not-in-family,White,Female,0.140841,...,0,0,0,0,0,1,0,0,0,1
9,0.342466,Private,0.099947,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.051781,...,0,0,0,0,0,1,0,0,0,1
10,0.273973,Private,0.182135,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.000000,...,0,0,0,0,0,1,0,0,0,1
11,0.178082,State-gov,0.087619,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.000000,...,0,0,0,0,0,0,0,0,0,1
12,0.082192,Private,0.074698,13,Never-married,Adm-clerical,Own-child,White,Female,0.000000,...,0,0,0,0,0,1,0,0,1,0
13,0.205479,Private,0.130896,12,Never-married,Sales,Not-in-family,Black,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
14,0.315068,Private,0.074359,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0.000000,...,0,0,0,0,0,1,0,0,0,1
15,0.232877,Private,0.158380,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.000000,...,0,0,0,0,0,0,0,0,1,0
16,0.109589,Self-emp-not-inc,0.111701,9,Never-married,Farming-fishing,Own-child,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
17,0.205479,Private,0.118539,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
18,0.287671,Private,0.011275,7,Married-civ-spouse,Sales,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
19,0.356164,Self-emp-not-inc,0.190088,14,Divorced,Exec-managerial,Unmarried,White,Female,0.000000,...,0,0,0,0,0,1,0,0,0,1
20,0.315068,Private,0.123089,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,0,1
21,0.506849,Private,0.196860,9,Separated,Other-service,Unmarried,Black,Female,0.000000,...,0,0,0,0,0,1,0,0,1,0
22,0.246575,Federal-gov,0.043846,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
23,0.356164,Private,0.071143,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
24,0.575342,Private,0.065695,9,Divorced,Tech-support,Unmarried,White,Female,0.000000,...,0,0,0,0,0,1,0,0,1,0
25,0.534247,Local-gov,0.138932,13,Married-civ-spouse,Tech-support,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,0,1
26,0.027397,Private,0.105954,9,Never-married,Craft-repair,Own-child,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
27,0.506849,Private,0.114048,10,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.000000,...,0,1,0,0,0,0,0,0,0,1
28,0.301370,Private,0.241083,9,Divorced,Exec-managerial,Not-in-family,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0
29,0.438356,Private,0.122982,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0.000000,...,0,0,0,0,0,1,0,0,1,0

dropping categorical data columns which are not one hot encoded

In [14]:
for i in list_of_categorical:
    del adult_data[i]

In [15]:
adult_data.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Federal-gov,Local-gov,Never-worked,Private,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,<=50K,>50K
0,0.301370,0.044302,13,0.02174,0.0,0.397959,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0.452055,0.048238,13,0.00000,0.0,0.122449,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0.287671,0.138113,9,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,0.493151,0.151068,7,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,0.150685,0.221488,13,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

Dropping Columns "Female" and "<=50k" as these are class of categorical variable with only two classes

In [16]:
del adult_data[" Female"]

In [17]:
del adult_data[" <=50K"]

#### Feature Engineering

columns "capital-gain" and "capital-loss" can be transformed into one column as "net-capital(gain/loss)"

In [18]:
adult_data["net-capital(gain/loss)"] = adult_data["capital-gain"] - adult_data["capital-loss"]

In [19]:
adult_data.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Federal-gov,Local-gov,Never-worked,Private,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,>50K,net-capital(gain/loss)
0,0.301370,0.044302,13,0.02174,0.0,0.397959,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0.02174
1,0.452055,0.048238,13,0.00000,0.0,0.122449,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0.00000
2,0.287671,0.138113,9,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0.00000
3,0.493151,0.151068,7,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0.00000
4,0.150685,0.221488,13,0.00000,0.0,0.397959,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.00000

Dropping "capital-gain" and "capital-loss"

In [20]:
del adult_data["capital-gain"]
del adult_data["capital-loss"]

In [21]:
adult_data.head()

,age,fnlwgt,education-num,hours-per-week,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,>50K,net-capital(gain/loss)
0,0.301370,0.044302,13,0.397959,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0.02174
1,0.452055,0.048238,13,0.122449,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0.00000
2,0.287671,0.138113,9,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0.00000
3,0.493151,0.151068,7,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0.00000
4,0.150685,0.221488,13,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.00000

splitting data into features and target

In [22]:
features_columns = list(adult_data.columns)
features_columns.remove(" >50K")
print(features_columns)
print(" >50K" in features_columns)

['age', 'fnlwgt', 'education-num', 'hours-per-week', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' Divorced', ' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Never-married', ' Separated', ' Widowed', ' Adm-clerical', ' Armed-Forces', ' Craft-repair', ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service', ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support', ' Transport-moving', ' Husband', ' Not-in-family', ' Other-relative', ' Own-child', ' Unmarried', ' Wife', ' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia', 'net-capital(gain/loss)']
False

In [23]:
features = adult_data[features_columns]
features

,age,fnlwgt,education-num,hours-per-week,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,net-capital(gain/loss)
0,0.301370,0.044302,13,0.397959,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0.021740
1,0.452055,0.048238,13,0.122449,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0.000000
2,0.287671,0.138113,9,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
3,0.493151,0.151068,7,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
4,0.150685,0.221488,13,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.166404,12,0.377551,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
32557,0.315068,0.096500,9,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
32558,0.561644,0.094827,9,0.397959,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
32559,0.068493,0.128499,9,0.193878,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0.000000
32560,0.479452,0.187203,9,0.397959,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0.150242

In [24]:
target = adult_data[" >50K"]
target

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name:  >50K, Length: 32561, dtype: int32

### Splitting data into train and test split

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
trainX, testX, trainY, testY = train_test_split(features, target)

### Using kNN

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knnc = KNeighborsClassifier()

In [36]:
knnc.fit(trainX,trainY)

KNeighborsClassifier()

In [37]:
knnc.score(testX,testY)

0.8213978626704336